.heroContainer {
  width: 100%;

  height: auto;
  // height: 820px;
}

.heroHeading {
  position: absolute;
  z-index: 2;
  color: #ba692e;
  text-align: center;
  font-size: 162px;
  line-height: 213px;
  letter-spacing: -0.02em;
  padding-left: 108px;
}

.heroImg {
  display: block;
  width: 100%;
  height: auto;
}

.heroImgMobile {
  display: none;
}

@media (min-width: 768px) and (max-width: 955px) {
  .heroHeading {
    line-height: 135px;
  }
}

@media (max-width: 768px) {
  .heroContainer {
    max-height: 437px;
    width: 100%;
  }
  .heroImg {
    width: 100%;
    height: auto;
  }

  .heroHeading {
    margin-top: 10px;
    font-size: 80px;
    padding-left: 62px;
    line-height: 109px;
  }
}

@media (min-width: 376px) and (max-width: 461px) {
  .heroHeading {
    line-height: 65px;
  }
}

@media (max-width: 375px) {
  .heroContainer {
    height: 100%;
    max-height: 100%;
    min-width: 375px;
    width: 100%;
  }

  .heroImg {
    display: none;
  }

  .heroImgMobile {
    display: block;
    width: 100%;
  }

  .heroHeading {
    font-size: 90px;
    position: absolute;
    z-index: 2;
    color: #ba692e;
    text-align: center;
    padding: unset;
    padding-top: 94px;
  }
}
