.intro {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  position: relative;
}

.introContainer {
  width: 100%;
  max-width: 1134px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.colOne {
  flex: 1;
  max-width: 432px;
  position: relative;
  img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
}

.colTwo {
  flex: 1;
  max-width: 549px;
  position: relative;
}

.heading {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .introContainer {
    flex-direction: row;
  }
}

@media (min-width: 1440px) {
  .introContainer {
    gap: 153px;
  }
}
